<?xml version="1.0"?>
<robot name="rover" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159265"/>

  <xacro:include filename="$(find rover_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/suspension/suspension.urdf.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/wheel/wheel.urdf.xacro"/>

  <xacro:include filename="$(find rover_description)/urdf/gps/gps.urdf.xacro"/>
  <xacro:include filename="$(find rover_description)/urdf/imu/imu.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_footprint"/>
  <xacro:base_v0 parent="base_footprint">
	<origin xyz="0 0 0.25" rpy="0 0 0"/>
  </xacro:base_v0>

  <!-- Suspension -->
  <!-- Front Right Sus -->
  <xacro:steering_v0 prefix="front_right" parent="base_link">
	<origin xyz="0.63104 -0.25952 -0.0205" rpy="0 0 ${M_PI}"/>
	<axis xyz="0 0 1"/>
  </xacro:steering_v0>
  <!-- Front Left Sus -->
  <xacro:steering_v0 prefix="front_left" parent="base_link">
	<origin xyz="0.63104 0.25952 -0.0205" rpy="0 0 0"/>
	<axis xyz="0 0 1"/>
  </xacro:steering_v0>
  <!-- Rear Right Sus -->
  <xacro:steering_v0 prefix="rear_right" parent="base_link">
	<origin xyz="-0.63104 -0.25952 -0.0205" rpy="0 0 ${M_PI}"/>
	<axis xyz="0 0 1"/>
  </xacro:steering_v0>
  <!-- Rear Left Sus -->
  <xacro:steering_v0 prefix="rear_left" parent="base_link">
	<origin xyz="-0.63104 0.25952 -0.0205" rpy="0 0 0"/>
	<axis xyz="0 0 1"/>
  </xacro:steering_v0>

  <!-- Wheel -->
  <!-- Front Right Wheel -->
  <xacro:wheel_v0 prefix="ffr" parent="front_right_steering_link">
	<origin xyz="0 0 -0.129" rpy="0 0 0"/>
	<axis xyz="0 -1 0"/>
  </xacro:wheel_v0>
  <!--  Front Left Wheel -->
  <xacro:wheel_v0 prefix="ffl" parent="front_left_steering_link">
	<origin xyz="0 0 -0.129" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel_v0>
  <!-- Rear Right Wheel -->
  <xacro:wheel_v0 prefix="rfr" parent="rear_right_steering_link">
	<origin xyz="0 0 -0.129" rpy="0 0 0"/>
	<axis xyz="0 -1 0"/>
  </xacro:wheel_v0>
  <!--  Rear Left Wheel -->
  <xacro:wheel_v0 prefix="rfl" parent="rear_left_steering_link">
	<origin xyz="0 0 -0.129" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel_v0>

  <!-- ===============  Wheel Transmission =============== -->
  <xacro:wheel_trans_v0 prefix="ffr"/>
  <xacro:wheel_trans_v0 prefix="ffl"/>
  <xacro:wheel_trans_v0 prefix="rfr"/>
  <xacro:wheel_trans_v0 prefix="rfl"/>
  

  <!-- ===============  Steering Transmission =============== -->
  <xacro:steering_trans_v0 prefix="front_right"/>
  <xacro:steering_trans_v0 prefix="front_left"/>
  <xacro:steering_trans_v0 prefix="rear_right"/>
  <xacro:steering_trans_v0 prefix="rear_left"/>


  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
    <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so">
        <updateRate>4.0</updateRate>
        <bodyName>gps_link</bodyName>
        <frameId>gps_link</frameId>
        <topicName>/gps/fix</topicName>
        <velocityTopicName>/gps/fix_velocity</velocityTopicName>
        <referenceLatitude>-30.06022459407145675</referenceLatitude>
        <referenceLongitude>-51.173913575780311191</referenceLongitude>
        <referenceHeading>90</referenceHeading>
        <referenceAltitude>10</referenceAltitude>
        <offset>0 0 0</offset>
        <drift>0.001 0.001 0.001</drift>
        <gaussianNoise>0.05 0.05 0.05</gaussianNoise>
        <velocityDrift>0.001 0.001 0.001</velocityDrift>
        <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
    </plugin>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>ground_truth/state</topicName>
      <gaussianNoise>0.01</gaussianNoise>
      <frameName>map</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

  <!-- Base -->
  <xacro:base_gazebo_v0/>

  <!-- Wheel -->
  <xacro:wheel_gazebo_v0 prefix="fr"/>
  <xacro:wheel_gazebo_v0 prefix="fl"/>
  <xacro:wheel_gazebo_v0 prefix="rr"/>
  <xacro:wheel_gazebo_v0 prefix="rl"/>

  <!-- Steering -->
  <xacro:steering_gazebo_v0 prefix="front_right"/>
  <xacro:steering_gazebo_v0 prefix="front_left"/>
  <xacro:steering_gazebo_v0 prefix="rear_right"/>
  <xacro:steering_gazebo_v0 prefix="rear_left"/>

</robot>
