<launch>    
    <!-- Load configs -->
  <rosparam file="$(find rover_control_simulation)/config/controller.yaml" command="load"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
		type="robot_state_publisher" respawn="false" output="screen">
  </node>
  
  <node name="controller_spawner" pkg="controller_manager"
		type="spawner" output="screen" 
		args="rover/joint_state_controller rover/four_wheel_steering_controller">
  </node>

</launch>