<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://rover_description/meshes/STL/base/base_link.stl"/>
		</geometry>
	  </visual>
	<collision>
      <origin
        xyz="0.0090992 -0.050658 -0.002"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/STL/base/base_link.stl" />
      </geometry>
    </collision>
		<inertial>
		<origin
			xyz="0 0 0"
			rpy="0 0 0" />
		<mass
			value="8.0206" />
		<inertia
			ixx="0.0159"
			ixy="7.4996E-05"
			ixz="-8.6149E-05"
			iyy="0.011714"
			iyz="0.0007604"
			izz="0.015363" />
		</inertial>
	</link>
  </xacro:macro>
  
</robot>
