<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
	    <origin
		  xyz="0 0 0"
		  rpy="0 0 0" />
	    <geometry>
		  <mesh filename="package://rover_description/meshes/STL/base/base_link.STL"/>
	    </geometry>
	  </visual>
	  <collision>
	    <origin
		  xyz="0 0 0"
		  rpy="0 0 0" />
	    <geometry>
		  <mesh
		  filename="package://rover_description/meshes/STL/base/base_link.STL" />
	    </geometry>
	  </collision>
	  <inertial>
		<origin
			xyz="-0.00062726 0.00031624 0.021725"
			rpy="0 0 0" />
		<mass
			value="4.6623" />
	    <inertia
			ixx="0.021722"
			ixy="6.1565E-06"
			ixz="2.5518E-06"
			iyy="0.08573"
			iyz="6.3788E-07"
			izz="0.10519" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
